<!DOCTYPE html>
<html>
<head>
    <title>Page d'Accueil</title>
</head>
<body>
    <h1>Créer un compte</h1>

    <form action="index.php" method="post">
        <p>
            <label for="pseudo">Pseudo</label> : <input type="text" name="pseudo" id="pseudo" /><br />
            <label for="pass">Mot de passe</label> : <input type="password" name="pass" id="pass" /><br />
            <label for="pass2">Confirmer le mot de passe</label> : <input type="password" name="pass2" id="pass2" /><br />
            <label for="email">Adresse mail</label> : <input type="text" name="email" id="email" /><br />
            <input type="submit" value="Envoyer" />
        </p>
    </form>



    <a href="/"><button type="button">Retour à l'Accueil</button></a>
</body>
</html>